<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Twitter Informations</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_Ria9irjOyAkC_vbDZx2l4zi5JVk6K5g" async defer></script>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse twitter-nav-bar">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h4 class="white-text"> @<%= @twitter_user.screen_name%> </h4>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><%= @twitter_user.name%></h1>

        <h2 class="form-signin-heading">Dados da Conta</h2>

        <!-- Inicio credenciais-->
        <p>Nome do usuário: <%= @user.name%></p>
        <!-- Fim credenciais -->

        <!-- Inicio endereço-->
        <p>CEP: <%= @user.postal_code%></p>

        <p>Logradouro: <%= @user.street_name%></p>

        <p>Cidade: <%= @user.city_name%></p>


        <p>Estado: <%= @user.state_name%></p>

        <p>País: <%= @user.country_name%></p>


        <!-- Fim endereço-->

        <!-- inicio informações contato-->
        <p>Telefone: <%= @user.telephone%></p>

        <p>E-mail: <%= @user.email%></p>

        <hr />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
          <thead>
            <th>Filtros:</th>
            <th>Exemplo/Instruções:</th>
          </thead>
          <tbody>
            <tr>
              <td>Data:</td>
              <td>Basta clicar nas datas a cima e definir um período</td>
            </tr>
            <tr>
              <td>Hashtag:</td>
              <td>#tweet</td>
            </tr>
            <tr>
              <td>Usuário:</td>
              <td>@usuario</td>
            </tr>
            <tr>
              <td>Tweet para um usuário:</td>
              <td>to:usuario</td>
            </tr>
            <tr>
              <td>Tweet de um usuário:</td>
              <td>from:usuario</td>
            </tr>
            <tr>
              <td>Tweet por atitude positiva:</td>
              <td>:)</td>
            </tr>
            <tr>
              <td>Tweet por atitude positiva:</td>
              <td>:(</td>
            </tr>
          </tbody>
        </table>
        </div>
        <hr>

        <div class="col-md-12">
          <div class="form-control">
            <div class='col-md-5'>
                <div class="form-group">
                    <span class="label label-default">Start Date</span>
                    <div class='input-group form_datetime'>
                        <input size="16" id="start_date" type="text" value="<%=Date.strptime(Date.today.to_s, '%Y-%m-%d')%>" class=" form-control">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-5'>
                <div class="form-group">
                    <span class="label label-default">End Date</span>
                    <div class='input-group form_datetime'>
                        <input size="16" id="end_date" type="text" value="<%=Date.strptime(Date.today.to_s, '%Y-%m-%d')%>" class=" form-control">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input id="search_string" class="form-control mr-sm-10" type="text" placeholder="Search">
            <button class="btn btn-success my-2 my-sm-0" onclick="get_search_result()">Tweets Search</button>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12" id="search-results">
        </div>
      </div>
    </div>

    <div class="container">
       <h1>Filtro por proximidade e povoamento do map.<h1>
         <h6> Arraste o Marcador no mapa, para a posição que deseja e será marcado todos os tweets em um raio de 5km da posição!</h6>
         <h6> O nome do usuário que realizou o tweet aparece ao deixar o mouse em cima do macador, ao clicar no macador será exibido o tweet.</h6>
        <div class="row">
          <div class="col-md-12">
	          <div id="map" class="map"></div>
          </div>
        </div>
    </div>
  </body>
</html>
