<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name, {class: "cols-sm-2 control-label"} %>

    </div>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
        <%= f.text_field :name, {class: "form-control", placeholder: "Enter your Name"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :postal_code, {class: "cols-sm-2 control-label"} %>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
        <%= f.number_field :postal_code, {class: "form-control", placeholder: "Enter your Postal Code"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street_name, {class: "cols-sm-2 control-label"} %>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-road" aria-hidden="true"></i></span>
        <%= f.text_field :street_name, {class: "form-control", placeholder: "Enter your Street Name"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city_name, {class: "cols-sm-2 control-label"} %>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
        <%= f.text_field :city_name, {class: "form-control", placeholder: "Enter your City Name"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state_name, {class: "cols-sm-2 control-label"} %>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map" aria-hidden="true"></i></span>
        <%= f.text_field :state_name, {class: "form-control", placeholder: "Enter your State Name"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country_name, {class: "cols-sm-2 control-label"} %>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-flag-o" aria-hidden="true"></i></span>
        <%= f.text_field :country_name, {class: "form-control", placeholder: "Enter your Country Name"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telephone, {class: "cols-sm-2 control-label"} %>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
        <%= f.telephone_field :telephone, {class: "form-control", placeholder: "Enter your Telephone Number"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, {class: "cols-sm-2 control-label"} %>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
        <%= f.email_field :email, {class: "form-control", placeholder: "Enter your Email"} %>
      </div>
    </div>
  </div>

  <div class="form-group ">
    <div class="actions">
      <%= f.submit 'Update', {class: "btn btn-primary btn-lg btn-block login-button"} %>
    </div>
  </div>

<% end %>
